body{
  background: #797D7F; text-align: left;
}
    #hgroup1{
    background-color: lightblue;
    font-family: fantasy;
    font-size: 26px;
    }
    #hgroup2 {
    background-color: lightblue;
    font-family: fantasy;
    font-size: 23px;
    }
    #footer1{
    background: LightSteelBlue;
    color: rgb(0, 0, 0);
    font-family: verdana;font-size: 18px;
    }
    #fooder2{
    background: gray;
    font-family: verdana;
    }
    #fooder3{
    background: gray;
    font-family: verdana;
    }
    #header1{
    background: lightblue;
    font-family: Fantasy;
    font-size: 300%;
    }
    #articulo1{
    background-color: LightSteelBlue;
    }
#adress1{
  background: dark;
  color: rgb(0, 0, 0);
  font-family: verdana;font-size: 23px;
}
div{
  background: #95A5A6;
}
