*{
  margin: 0px;
  padding: 0px;
}
body{
  background-image: radial-gradient(ellipse farthest-corner, transparent 0%, transparent 35%, #fff 30%, #fff 40%, transparent 90%), radial-gradient(ellipse farthest-corner at 0px 0px, transparent 0%, transparent 20%, #fff 15%, #fff 20%, transparent 50%), radial-gradient(ellipse farthest-corner at 8px 8px, transparent 0%, transparent 20%, #fff 15%, #fff 20%, transparent 50%), radial-gradient(ellipse farthest-corner at 0px 8px, transparent 0%, transparent 20%, #fff 15%, #fff 20%, transparent 40%), radial-gradient(ellipse farthest-corner at 8px 0px, transparent 0%, transparent 20%, #fff 15%, #fff 20%, transparent 50%),  linear-gradient(40deg, lightblue 0, lightblue 30%, lightgrey 50%, gray 70%, gray 100%);
  background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;
  text-align: left;
}
#hgroup1{
  background-color: lightblue;
  font-family: fantasy;
  font-size: 32px;
  margin: 20px auto;
}
.menu{
  padding: 15px 30px;
  background: silver;
  border: 2px solid black;

}
.menu li{
  list-style: none;
  padding: 5px;
  font: bold 15px verdana;
  display: inline-block;
}
#hgroup2 {
  background-color: lightblue;
  font-family: fantasy;
  font-size: 23px;
  margin-bottom: 15px;
}
.hgroup3{
  float: right;
  margin: -40px;
  padding: 10px;
  border: 1px solid black;
  font-size: 12px;
  font-family: verdana;

}
#footer1{
  background: LightSteelBlue;
  color: rgb(0, 0, 0);
  font-family: verdana;font-size: 18px;
}
#fooder2{
  background: silver;
  font-family: verdana;
  margin: 7px;
  padding: 10px;
}
#fooder3{
  background: silver;
  font-family: verdana;
  margin: 7px;
  padding: 10px;

}
.img2 img:hover{
  filter:  invert(1000);
  margin: 10px auto;

}
.img1 img:hover{
  filter: contrast(1000);
  margin: 10px auto;



}
.header1{
  background: lightblue;
  border: 3px solid black;
  padding: 20px;
  font-family: Fantasy;
  font-size: 300%;
}
.header1 h1{
  text-align: center;
}
#articulo1{
  background-color: LightSteelBlue;
  margin-bottom: 30px;
  border: 1px solid black;
}
.address1{
  background: dark;
  color: rgb(0, 0, 0);
  font-family: fantasy;font-size: 40px;
display: block;
float: right;
margin: 25px auto;
padding: 50px;

}
.conjunto{
  width: 960px;
  border: 2px white;
  background-image: radial-gradient(ellipse farthest-corner, transparent 0%, transparent 35%, #fff 30%, #fff 40%, transparent 90%), radial-gradient(ellipse farthest-corner at 0px 0px, transparent 0%, transparent 20%, #fff 15%, #fff 20%, transparent 50%), radial-gradient(ellipse farthest-corner at 8px 8px, transparent 0%, transparent 20%, #fff 15%, #fff 20%, transparent 50%), radial-gradient(ellipse farthest-corner at 0px 8px, transparent 0%, transparent 20%, #fff 15%, #fff 20%, transparent 40%), radial-gradient(ellipse farthest-corner at 8px 0px, transparent 0%, transparent 20%, #fff 15%, #fff 20%, transparent 50%),  linear-gradient(40deg, lightblue 0, lightblue 30%, lightgrey 50%, gray 70%, lightgrey 100%);
  background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;
  margin: 20px auto;
  padding: 5px;
}
.seccion1{
  margin: 1px;
  padding: 20px;
}
.seccion2{
  margin: 1px;
  padding: 20px;
}
.seccion3{
  margin: 1px;
  padding: 20px;
  }
.section4{
  margin: 1px;
  padding: 5px;
  background: #ffed84;
  border: 1px solid black;
}
.aside1{
  width: 600px;
  border: 2px solid black;
  float: inherit;
  margin: 50px auto;
padding: 50px;
}
header,section,footer,aside,nav,article,hgroup,p,address{
  display: block;

}
.pie{
  clear: both;
}
