*{
  margin: 0px;
  padding: 0px;
}
body{
  background-image: radial-gradient(ellipse farthest-corner, transparent 0%, transparent 35%, #fff 30%, #fff 40%, transparent 90%), radial-gradient(ellipse farthest-corner at 0px 0px, transparent 0%, transparent 20%, #fff 15%, #fff 20%, transparent 50%), radial-gradient(ellipse farthest-corner at 8px 8px, transparent 0%, transparent 20%, #fff 15%, #fff 20%, transparent 50%), radial-gradient(ellipse farthest-corner at 0px 8px, transparent 0%, transparent 20%, #fff 15%, #fff 20%, transparent 40%), radial-gradient(ellipse farthest-corner at 8px 0px, transparent 0%, transparent 20%, #fff 15%, #fff 20%, transparent 50%),  linear-gradient(40deg, gold 0, gold 30%, lightgray 50%, lightgray 70%, lightgray 100%);
  background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;
  text-align: left;
}
.conjunto{
  width: 1144px;
  border: 2px solid black;
padding: 5px;
margin: 20px auto;
background-image: radial-gradient(ellipse farthest-corner, transparent 0%, transparent 35%, #fff 30%, #fff 40%, transparent 90%), radial-gradient(ellipse farthest-corner at 0px 0px, transparent 0%, transparent 20%, #fff 15%, #fff 20%, transparent 50%), radial-gradient(ellipse farthest-corner at 8px 8px, transparent 0%, transparent 20%, #fff 15%, #fff 20%, transparent 50%), radial-gradient(ellipse farthest-corner at 0px 8px, transparent 0%, transparent 20%, #fff 15%, #fff 20%, transparent 40%), radial-gradient(ellipse farthest-corner at 8px 0px, transparent 0%, transparent 20%, #fff 15%, #fff 20%, transparent 50%),  linear-gradient(40deg, gold 0, gold 30%, gold 50%,lightgray 70%, lightgray 100%);
background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;
text-align: left
}
.header1{
  font-family: fantasy;
  background: firebrick;
  font-size: 300%;
  margin: 30px solid black;
  border: 7px solid black;
 }
.header1 h1{
  text-align: center;
}
.menu{
  border: 1px solid black;
    background: silver;
    padding: 20px 35px
    border: 1px solid black;



}
.menu li{
  font-family: Cambria;
  font-size: 25px;
  border-right: 2px solid black;
  display: inline-block;
  padding: 0px;
  margin: 5px 10px

}
header,nav{
  display: block;
}
.hgroup1{
  border: 4px solid black;
  font-family: fantasy;
  font-size: 60px;
  background: #D1CBC5;
  text-align: center;
margin: 30px auto;
  padding-top: 5px;
  width: 5px auto;

}
.hgroup1 h1{
  display: block;
}
.hgroup2{
  font-family: fantasy;
  font-size: 35px;
text-align: center;
  padding-right: 100x;
border: 3px solid black;
margin: 20px 0;
background: #EA8E2D;
}
.text1{
  border: 2px solid black;
  float: right;
margin: -215px 40px;
padding: 30px;
width: 560px ;
font-size: 25px;
font-family: cambria;
background: #D1CBC5 ;
}

.img1 img:hover{
  filter: grayscale(100);
  margin: 8px;
  margin: 2px;
}

.Datos1{
  font-family: cambria;
  font-size: 25px;
}








.pie{
  clear: both;
}
header,section,footer,aside,hgroup,p,address,{
  display: block;
